<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type=text/css>
	table{
		border-collapse: collapse;
	}
	th, td{
		border:.5pt solid windowtext;
		border-collapse: collapse;
		mso-number-format:"\@@";
	} 
  </style>
  <title></title>
</head>
<body>
@RenderBody()
</body>
</html>
