@{
    Layout = ViewBag.Layout;    
}

<style>
    table {
        border-top: 1px solid #000;
        border-left: 1px solid #000;
    }
    th, td{
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 2px 10px;
    }

</style>

<table class="table" cellspacing="0">
    <thead>
        <tr>
            <th>#</th>
            <th>標題</th>
            <th>標題</th>
            <th>標題</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td>1</td>
            <td>欄位資料A</td>
            <td>欄位資料A</td>
            <td>欄位資料A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>欄位資料B</td>
            <td>欄位資料B</td>
            <td>欄位資料B</td>
        </tr>
        <tr class="success">
            <td>3</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="warning">
            <td>5</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
        <tr class="danger">
            <td>7</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>
