@{
    ViewBag.Title = "列表4";
}

@Html.Partial("_SampleTab")

<div class="page-header">
  <h1>@ViewBag.Title<small></small></h1>
</div>


<div class="table-responsive">
    <table class="table table-striped table-nowrap table-bordered table-hover">
        <thead>
            <tr class="head" ext-table-fix="">
                <th></th>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th class="auto">Header</th>
            </tr>
            <tr class="head" ext-table-fix="">
                <th></th>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th class="auto">Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td class="auto">dolor</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td class="auto">adipiscing</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,003</td>
                <td>Integer</td>
                <td>nec</td>
                <td class="auto">odio</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,003</td>
                <td>libero</td>
                <td>Sed</td>
                <td class="auto">cursus</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,004</td>
                <td>dapibus</td>
                <td>diam</td>
                <td class="auto">Sed</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,005</td>
                <td>Nulla</td>
                <td>quis</td>
                <td class="auto">sem</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,006</td>
                <td>nibh</td>
                <td>elementum</td>
                <td class="auto">imperdiet</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,007</td>
                <td>sagittis</td>
                <td>ipsum</td>
                <td class="auto">Praesent</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,008</td>
                <td>Fusce</td>
                <td>nec</td>
                <td class="auto">tellus</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,009</td>
                <td>augue</td>
                <td>semper</td>
                <td class="auto">porta</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,010</td>
                <td>massa</td>
                <td>Vestibulum</td>
                <td class="auto">lacinia</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,011</td>
                <td>eget</td>
                <td>nulla</td>
                <td class="auto">Class</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,012</td>
                <td>taciti</td>
                <td>sociosqu</td>
                <td class="auto">ad</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,013</td>
                <td>torquent</td>
                <td>per</td>
                <td class="auto">conubia</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,014</td>
                <td>per</td>
                <td>inceptos</td>
                <td class="auto">himenaeos</td>
            </tr>
            <tr>
                <td><a class="btn btn-warning btn-sm btn-icon" href="#"><i class="fa fa-pencil fa-lg"></i></a></td>
                <td>1,015</td>
                <td>sodales</td>
                <td>ligula</td>
                <td class="auto">in</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="table-responsive table-frame" ext-table-fix-base="" style="height: 300px;">
    <table id="sample_2" class="table table-striped table-nowrap table-bordered table-hover">
        <thead ext-table-fix="">
            <tr class="head">
                <th class="name Left" ext-table-fix="">名稱</th>
                <th class="unit" ext-table-fix="">單位</th>
                <th class="fix_price" ext-table-fix="">定價</th>
                <th class="amount">數量</th>
                <th class="note auto">備註</th>
                <th class="Action"></th>
            </tr>
        </thead>
        <tbody id="goods_list">
            <tr class="bg-1"><th class="name left" ext-table-fix=""><a href="#">黃T恤（L）</a></th>     <th class="unit" ext-table-fix="">件</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-2"><th class="name left" ext-table-fix=""><a href="#">黃T恤（M）</a></th>     <th class="unit" ext-table-fix="">件</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-3"><th class="name left" ext-table-fix=""><a href="#">黃T恤（S）</a></th>     <th class="unit" ext-table-fix="">件</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-4"><th class="name left" ext-table-fix=""><a href="#">黃T恤（XL）</a></th>    <th class="unit" ext-table-fix="">件</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-5"><th class="name left" ext-table-fix=""><a href="#">黑色鴨舌帽</a></th>     <th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-6"><th class="name left" ext-table-fix=""><a href="#">黑色鴨<br />舌帽</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-7"><th class="name left" ext-table-fix=""><a href="#">黑色鴨</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-8"><th class="name left" ext-table-fix=""><a href="#">黑色鴨</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-9"><th class="name left" ext-table-fix=""><a href="#">黑色鴨</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-10"><th class="name left" ext-table-fix=""><a href="#">黑色鴨</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-11"><th class="name left" ext-table-fix=""><a href="#">黑色鴨</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
            <tr class="bg-12"><th class="name left" ext-table-fix=""><a href="#">黑色鴨</a></th><th class="unit" ext-table-fix="">頂</th><td class="fix_price" ext-table-fix="">0</td><td class="amount">0</td><td class="note auto">qwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwerqwer</td><td class="action"><a href="#" title="編輯" class="fa fa-pencil fa-lg"></a></td></tr>
        </tbody>
    </table>
</div>
          
