@{
    ViewBag.Title = "列表2";
}


@Html.Partial("_SampleTab")

<div class="page-header">
  <h1>@ViewBag.Title<small></small></h1>
</div>


<form class="well btn-toolbar">
    <div class="toolbar-left">
        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-plus fa-lg"></i> 新增</button>
    </div>

    <div class="toolbar-left input-group " style="width: 300px;">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter fa-lg"></i></button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div><!-- /btn-group -->

        <input type="text" class="form-control input-sm">

        <div class="input-group-btn">
            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-search fa-lg"></i> 搜尋</button>
        </div><!-- /btn-group -->

    </div><!-- /input-group -->

</form>

<form class="well btn-toolbar">
    <div class="toolbar-left input-group input-group-sm" style="width: 180px;">
        <div class="input-group-addon">出貨單號</div>
        <input type="text" class="form-control" value="Any Text">
    </div>

    <div class="toolbar-left input-group input-group-sm" style="width: 180px;">
        <div class="input-group-addon">出貨單號</div>
        <div class="form-control-static">Any Text</div>
    </div>

    <div class="toolbar-left input-group" style="width: 220px;">
        <div class="input-group-addon">出貨單號</div>
        <input type="text" class="form-control" value="Any Text">
    </div>

    <div class="toolbar-left input-group" style="width: 220px;">
        <div class="input-group-addon">出貨單號</div>
        <div class="form-control-static">Any Text</div>
    </div>

    <div class="toolbar-left input-group input-group-lg" style="width: 250px;">
        <div class="input-group-addon">出貨單號</div>
        <input type="text" class="form-control" value="Any Text">
    </div>

    <div class="toolbar-left input-group input-group-lg" style="width: 250px;">
        <div class="input-group-addon">出貨單號</div>
        <div class="form-control-static">Any Text</div>
    </div>


</form>


<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    
    <table class="table table-striped table-nowrap table-bordered table-hover">
    <thead>
        <tr class="head head-default">
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        </tr>
        <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
        </tr>
    </tbody>
    </table>
</div>

          

<div class="panel panel-primary">
    <div class="panel-heading">Panel heading</div>
    
    <table class="table table-striped table-nowrap table-bordered table-hover">
    <thead>
        <tr class="head head-primary">
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        </tr>
        <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
        </tr>
    </tbody>
    </table>
</div>

          
<div class="panel panel-success">
    <div class="panel-heading">Panel heading</div>
    
    <table class="table table-striped table-nowrap table-bordered table-hover">
    <thead>
        <tr class="head head-success">
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        </tr>
        <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
        </tr>
    </tbody>
    </table>
</div>

          
<div class="panel panel-info">
    <div class="panel-heading">Panel heading</div>
    
    <table class="table table-striped table-nowrap table-bordered table-hover">
    <thead>
        <tr class="head head-info">
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        </tr>
        <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
        </tr>
    </tbody>
    </table>
</div>

          

          
<div class="panel panel-warning">
    <div class="panel-heading">Panel heading</div>
    
    <table class="table table-striped table-nowrap table-bordered table-hover">
    <thead>
        <tr class="head head-warning">
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        </tr>
        <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
        </tr>
    </tbody>
    </table>
</div>

          

          
<div class="panel panel-danger">
    <div class="panel-heading">Panel heading</div>
    
    <table class="table table-striped table-nowrap table-bordered table-hover">
    <thead>
        <tr class="head head-danger">
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
        </tr>
        <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
        </tr>
    </tbody>
    </table>
</div>
