<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="cassette" type="Cassette.CassetteConfigurationSection, Cassette" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="MvcDemo.Dao.Properties.Settings.HLH_SMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=MvcDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="applicationTitle" value="Orion" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
		<add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
	</appSettings>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/Home/Login" timeout="30" path="/" protection="None" />
		</authentication>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" />

		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
		<pages>
			<namespaces>
				<add namespace="Cassette.Views" />
			</namespaces>
		</pages>
		
	<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Error/ServerError">
      <error statusCode="403" redirect="~/Error/Forbidden" />
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/ServerError" />
    </customErrors></system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="4096" maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>

		<modules runAllManagedModulesForAllRequests="true">
			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
			
		<add name="HttpErrorHandler" type="Orion.Mvc.HttpErrorHandler" /></modules>
		<handlers>
			<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			<add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
			<mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
		</staticContent>
	</system.webServer>


	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
				</binding>
				<binding name="BasicHttpsBinding" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="32" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
					<security mode="Transport">
						<!-- 使用憑證認證 -->
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			
			<serviceBehaviors>
				<behavior>
					<!-- 為避免洩漏中繼資料資訊，請在部署之前將下列值設定為 false -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- 為接收錯誤中的例外狀況詳細資料以用於偵錯用途，請將下面的值設定為 true。請在部署之前將該值設定為 false，以避免例外狀況資訊洩漏-->
					<serviceDebug includeExceptionDetailInFaults="true" />
					
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
			
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<!-- service="Namespace.ServiceType, AssemblyName" -->
				<!-- 
				<add factory="Autofac.Integration.Wcf.AutofacServiceHostFactory" relativeAddress="~/WCF/CtrlAlarmService.svc" service="MvcDemo.Service.ICtrlAlarmService, FFG.STK.Service" />
				-->
			</serviceActivations>
		</serviceHostingEnvironment>
		<client>
			<!-- 
			<endpoint address="net.tcp://localhost:3766/BlockControllerService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding" behaviorConfiguration="OrionEndpoint" contract="MvcDemo.Service.IBlockControllerService" name="NetTcpBinding" />
			-->
		</client>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime> 
	<!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
	<elmah>
		<security allowRemoteAccess="true" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/Elmah.Errors" applicationName="WcfService1" />
	</elmah>

	<!-- For configuration options: http://getcassette.net/documentation/v2/web-config -->
	<cassette rewriteHtml="false" />
</configuration>