
@{

}

<ul class="nav navbar-nav">
    @*
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">選單<i class="fa fa-caret-down fa-fw"></i></a>
        <ul class="dropdown-menu">
            <li><a href="#">item 1</a></li>
            <li><a href="#">item 1</a></li>
            <li class="divider"></li>
        </ul>
    </li>
    *@
</ul>


<ul class="nav navbar-nav navbar-right">
	@*
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="superscript label label-danger">10</span>
				<i class="fa fa-envelope fa-fw"></i><span class="visible-xs-inline">訊息<i class="fa fa-caret-down fa-fw"></i></span>
			</a>
			<ul id="navbarNewsMsgSum" class="dropdown-menu">
				<li class="messageSum" data-sysno="${entry.key}">
					<a href="#"><span>訊息分類 1</span> <span class="badge">5</span></a>
				</li>
				<li class="message">
					<a href="#"><span>歷史訊息</span></a>
				</li>
			</ul>
		</li>
	*@


	@if (User.IsInRole("DevelopAdmin"))
	{
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-wrench fa-flip-horizontal fa-fw"></i><span class="visible-xs-inline">Develop Tools<i class="fa fa-caret-down fa-fw"></i></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="~/Develop/BootstrapOverview">排版範例</a></li>
				<li><a href="~/Develop/Icons">圖示工具</a></li>
			</ul>
		</li>
	}


	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="fa fa-user fa-fw"></i>
			@User.Identity.GetUserName()
			<i class="fa fa-caret-down fa-fw"></i>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="@Url.Action("ChangePassword","Home")" target="dialog">
					<i class="fa fa-key fa-fw"></i> 變更密碼
				</a>
			</li>
			<li>
				<form id="LogoutForm" method="post" action="@Url.Action("Logout","Home")" onsubmit="return confirm('您確定要登出本系統嗎?');"></form>
				<a href="JavaScript: $('#LogoutForm').submit(); void(0);">
					<i class="fa fa-sign-out fa-fw"></i> 登出
				</a>
			</li>
		</ul>
	</li>

</ul>

<script type="text/javascript">
	Dialog.on('change.PortAreaCode', function (data) {
		$('#NavbarPortAreaName').html(data.Marker);
	});
</script>


